<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Start Open Web Analytics Tracker -->
    <script type="text/javascript">
      //<![CDATA[
      var owa_baseUrl = 'https://analytics.austinfay.com/';
      var owa_cmds = owa_cmds || [];
      owa_cmds.push(['setSiteId', '8971c79f5fff28491209f91174a0c5b6']);
      owa_cmds.push(['trackPageView']);
      owa_cmds.push(['trackClicks']);
      owa_cmds.push(['trackDomStream']);

      (function() {
          var _owa = document.createElement('script'); _owa.type = 'text/javascript'; _owa.async = true;
          owa_baseUrl = ('https:' == document.location.protocol ? window.owa_baseSecUrl || owa_baseUrl.replace(/http:/, 'https:') : owa_baseUrl );
          _owa.src = owa_baseUrl + 'modules/base/js/owa.tracker-combined-min.js';
          var _owa_s = document.getElementsByTagName('script')[0]; _owa_s.parentNode.insertBefore(_owa, _owa_s);
      }());
      //]]>
    </script>
    <!-- End Open Web Analytics Code -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Austin Fay</title>
    <link rel="stylesheet" href="/styles/global.scss" />
    <link rel="stylesheet" href="/styles/home.scss" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="icon" href="/images/austin-headshot.jpg" />

    <!-- Basic SEO -->
    <meta name="description" content="{{site.description}}" />
    <meta
      name="keywords"
      content="Austin, Fay, web, fullstack, javascript, react, vue"
    />
    <meta name="author" content="Austin Fay" />
    <meta name="robots" content="index, follow" />

    <!-- OpenGraph metadata for social sharing -->
    <meta property="og:title" content="Austin Fay" />
    <meta property="og:description" content="{{site.description}}" />
    <meta
      property="og:image"
      content="https://austinfay.com/images/austin-headshot.jpg"
    />
    <meta property="og:url" content="https://austinfay.com" />
    <meta property="og:type" content="website" />

    <!-- Twitter Card metadata for Twitter sharing -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Austin Fay's official website" />
    <meta name="twitter:description" content="{{site.description}}" />
    <meta
      name="twitter:image"
      content="https://austinfay.com/images/austin-headshot.jpg"
    />
  </head>

  <body>
    <main>
      <img
        src="/images/austin-headshot.jpg"
        alt="Austin Fay"
        class="profile-image"
      />
      <div class="heading">
        <h1>Hi, I'm Austin</h1>
        <p>I'm a web developer from <strong>Denver, Colorado</strong>.</p>
      </div>
      <p class="contact-link">
        <i class="far fa-envelope"></i>
        <a href="{{site.emailLink}}">{{site.email}}</a>
      </p>
      <p class="contact-link">
        <i class="fab fa-twitter"></i>
        <a href="{{site.twitterUrl}}" target="_blank">{{site.twitterHandle}}</a>
      </p>
      <p class="contact-link">
        <i class="fab fa-github"></i>
        <a href="{{site.githubUrl}}" target="_blank">{{site.githubHandle}}</a>
      </p>
      <div class="gpg-key">
        <pre><code>{{site.gpgKey}}</code></pre>
      </div>
      <button onclick="copyGpgToClipboard()" class="copy-button">
        Copy to Clipboard
      </button>
    </main>
    <script>
      function copyGpgToClipboard() { 
        const gpgKey = document.querySelector(".gpg-key pre code"); 
        const el = document.createElement("textarea"); 
        el.value = gpgKey.innerText.trim();
        document.body.appendChild(el); 
        el.select(); 
        document.execCommand("copy");
        document.body.removeChild(el); 
        
        // Change button text 
        const copyButton = document.querySelector(".copy-button"); 
        copyButton.innerText = "Copied!";
      }
    </script>
  </body>
</html>