<!DOCTYPE html>
<html lang="en">
  <head>
    {{{ trackingScript }}}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}} | Austin Fay</title>
    <link rel="stylesheet" href="/styles/global.scss" />
    <link rel="stylesheet" href="/styles/blog-post.scss" />
    <link rel="icon" href="/images/austin-headshot.jpg" />

    <!-- SEO -->

    <meta name="author" content="Austin Fay" />
    <meta name="robots" content="index, follow" />

    <!-- Twitter Card metadata for Twitter sharing -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{title}}" />
    <meta
      name="twitter:image"
      content="https://austinfay.com/images/austin-headshot.jpg"
    />
    <meta name="twitter:site" content="{{site.twitterHandle}}" />
    <meta name="twitter:creator" content="{{site.twitterHandle}}" />

    <!-- OpenGraph metadata for social sharing -->
    <meta property="og:title" content="{{title}}" />
    <meta
      property="og:image"
      content="https://austinfay.com/images/austin-headshot.jpg"
    />
    <meta property="og:url" content="https://austinfay.com{{page.url}}" />
    <meta property="og:type" content="website" />

    {{#if description}}
      <meta name="description" content="{{description}}" />
      <meta property="og:description" content="{{description}}" />
      <meta name="twitter:description" content="{{description}}" />
    {{/if}}

    {{#if keywords}}
      <meta name="keywords" content="{{keywords}}" />
    {{/if}}
  </head>
  <body>
    <header class="banner">
      <div class="af-container">
        <img src="/images/austin-headshot.jpg" alt="Austin Fay" class="banner-image">
        <h1>Austin Fay</h1>
      </div>
      <nav class="links">
        <a href="/">Home</a>
        <a href="/blog/">Blog</a>
      </nav>
    </header>
    <main>
      <header>
        <h1>{{title}}</h1>
        <h5><span class="normal-weight">By Austin Fay on</span>
          <time>{{datePublished}}</time></h5>
      </header>
      <article>
        {{{content}}}
      </article>
    </main>
    <script type="module" src="/scripts/prism.ts"></script>
  </body>
</html>